/* color palette from <https://github.com/vuejs/theme> */

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Vazirmatn', tahoma;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

.p-breadcrumb {
  padding: 0 !important;
  margin-bottom: 20px;
}

.p-breadcrumb-item-link, .p-breadcrumb-list {
  gap: 0 !important;
}

.awards span.pi {
  color: oklch(0.905 0.182 98.111);
}